@use "./variables" as v;

.confirmation-section {
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 120px;
  position: relative;
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
}

.confirmation-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 1px solid #e2e8f0;
  text-align: center;
}

.confirmation-info {
  display: grid;
  gap: 2rem;
  padding: 40px;
  text-align: center;
}

.reservations-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.reservation-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: clip;
}

.reservation-body {
  padding-inline: 16px;
  padding-bottom: 16px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  p {
    font-size: 16px;
  }
}

.reservation-image-container {
  img {
    max-width: 100%;
    display: block;
  }
}

.reservation-label {
  font-weight: 500;
}

.buttons-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.edit-button {
  padding: 8px 24px;
  background-color: v.$primary-blue;
  color: white;
  width: fit-content;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  box-shadow: 3px 3px 0px black;
  &:hover {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
}

.edit-icon {
  > * {
    fill: white;
  }
}

.delete-button {
  padding: 8px 24px;
  background-color: v.$primary-blue;
  border: none;
  color: white;
  width: fit-content;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  box-shadow: 3px 3px 0px black;
  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    background-color: #6367f2;
    transform: translate(3px, 3px);
  }
}

.delete-icon {
  > * {
    fill: white;
  }
}
