@use "./variables" as v;

.confirmation-section {
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 40px 40px 120px;
  position: relative;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.confirmation-header,
.confirmation-info {
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: center;
  gap: 2rem;
}

.confirmation-header {
  border-bottom: 1px solid #e2e8f0;
}

.reservations-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.reservation-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;

  & .reservation-body {
    padding-inline: 16px;
    padding-bottom: 16px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);

    p {
      font-size: 16px;
    }
  }

  & .reservation-image-container {
    img {
      max-width: 100%;
      display: block;
    }
  }

  & .reservation-label {
    font-weight: 500;
  }
}

.buttons-container {
  display: flex;
  gap: 16px;
  align-items: center;

  .button {
    padding: 8px 24px;
    background-color: v.$primary-blue;
    color: #fff;
    width: fit-content;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 3px 3px 0px #000;

    &:hover {
      box-shadow: none;
      transform: translate(3px, 3px);
    }

    .icon {
      > * {
        fill: #fff;
      }
    }
  }

  .edit-button {
    & .icon {
      > * {
        fill: #fff;
      }
    }
  }

  .delete-button {
    background-color: v.$primary-blue;
    border: none;

    &:hover,
    &:focus,
    &:active {
      background-color: #6367f2;
    }
  }
}
