@use "./variables" as v;
@use "./mixins" as m;

/* Dark Mode Styles */
.dark {
  background-color: v.$primary-black;
  color: #fff;

  .text-gray,
  a,
  label,
  h2,
  h3,
  li,
  span,
  p {
    color: #fff;
    text-decoration: none;
  }

  .button {
    background-color: #444;
    color: #fff;
  }

  // Navbar Styles
  .navbar-li a,
  .toggle-switch a,
  .logo-type {
    color: #fff !important;

    .icon {
      display: none;
      margin-right: 8px;
    }
  }

  .signup-container,
  .question-toggle,
  .create-trip-form,
  .reservation-wrapper {
    border-radius: 20px;
    border: 0.5px solid v.$color-gray-2;
    box-shadow: 0px 20px 60px -6px rgba(40, 40, 40, 0.08);
  }

  .signup-container {
    background: v.$color-gray-1;
    width: 80%;
    margin: 0 auto;
  }

  .question-toggle {
    background: v.$color-gray-1;
    color: #fff;
    margin: 0 auto;

    .question-title {
      color: white !important;
    }

    &:hover {
      background-color: v.$color-gray-4;
    }
  }

  .create-trip-form,
  .reservation-wrapper {
    background: v.$color-gray-1;
  }

  a.dropdown-link {
    background-color: v.$primary-black;
  }

  footer,
  section,
  .discover-section {
    background-color: v.$primary-black;
  }

  h2.discover-text,
  .text-box {
    color: #fff;
  }

  .learn-more-text,
  h3 {
    color: v.$primary-black;
  }

  .select-container {
    background-color: #fff;
  }

  @include m.breakpoint("small") {
    .navbar-li {
      border-bottom: solid 1px #fff !important;
    }
  }
}
