@use "./variables" as v;
@use "./mixins" as m;

.social-button {
  @include m.social-button;
}

.form-wrapper {
  display: flex;
  height: 1024px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
}

.social-icons {
  width: 90%;
  margin: 0 auto;
}
.signup-container {
  margin: 0;
  padding: 50px 30px;
  width: 40%;
  border-radius: 20px;
  box-shadow: v.$box-shadow-small;
}

.signin-button,
.register-button {
  @include m.form-button;
}
.signup-container {
  @include m.breakpoint("small") {
    border-radius: 20px;
    box-shadow: v.$box-shadow-small;
    padding: 48px 30px;
    width: 80%;
    margin: 0 auto;
  }
}
