@use "./variables" as v;
@use "./mixins" as m;

.error-section {
  background-color: white;
  font-family: Arial, sans-serif;
  padding-block: 24px;
}

.error-container {
  padding-inline: 24px;
  margin: 0 auto;
}

.error-message {
  align-self: center;
}

.error-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: bold;
  color: #4a90e2;
}

.error-heading {
  margin-bottom: 64px;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  line-height: 1.5;
  margin: 0;
}

.error-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .error-section {
    padding-block: 48px;
  }

  .error-container {
    display: flex;
    gap: 32px;
    margin: 0 auto;
  }
  .error-image {
    display: block;
    width: 50%;
  }

  .error-heading {
    margin-bottom: 40px;
  }
}
