@use "./variables" as v;
@use "./mixins" as m;

.reservation-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  p {
    margin: 0;
  }
}
.reservation-container {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservation-wrapper {
  display: flex;
  padding: 24px 26px 24px 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-shadow: v.$box-shadow-small;
  border-radius: 12px;
  background: #fff;
}

.reservation-text {
  margin: 0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.reservation-flex {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-field {
  max-width: 200px;
}
.date-range {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  min-width: 100%;
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
}

.date-time-field {
  min-width: calc(400px / 2);
}

@media (min-width: 1000px) {
  .reservation-text {
    flex-direction: row;
  }

  .reservation-container {
    padding: 200px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reservation-wrapper {
    width: unset;
    display: inline-flex;
  }

  .reservation-wrapper {
    width: unset;
    display: inline-flex;
    display: flex;
    padding: 50px;
    gap: 16px;
    box-shadow: v.$box-shadow-small;
    border-radius: 12px;
    background: #fff;
  }
  .reservation-flex {
    flex-direction: row;
  }
  .date-range {
    flex-direction: row !important;
  }
  .date-time-field {
    min-width: calc(400px / 2 - 30px);
  }
  .input-field {
    min-width: 600px;
  }
  #pickupLocation,
  #dropoffLocation {
    border: none;
  }
}

.save-button {
  @include m.form-button;
  text-align: center;
}

.next-button {
  @include m.form-button;
  text-align: center;
  background-color: v.$color-gray-4;
  border: none;
}
.caret-icon {
  fill: none;
  stroke: white;
  stroke-width: 2;
}
.reservation-buttons-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.agency-car-container {
  width: 100%;
  > * {
    flex: 1;
  }
}
